{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}

<head>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
  body {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  }
</style>
</head>

<body>
<style>
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<a class="navbar-brand" href="deadlink">User Features</a>
<p class="navbar-text navbar-right" style="margin-right:15">User Profiles Page</p>
</nav>

{% block hello %}
<div class=well>
<h1 class="text-info">User Feature List</h1>
</div>
<div class="well">
{% render_table table %}
</div>
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<p class="navbar-text navbar-right" style="margin-right:15" >Footer </p>
</nav>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

