DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        # 'ENGINE': 'mysql.connector.django',
        'NAME': 'admindb',
        'USER': 'django',
        'PASSWORD': 'mypassword',
        'HOST': 'localhost',
    }
}


